Kvantum
QtProject.conf
Thunar
autostart
dconf
discord
falkon
gtk-2.0
gtk-3.0
libreoffice
manjaro-hello.json
manjaro
mimeapps.list
nitrogen
obsidian
pamac
protonvpn
pulse
qt5ct
systemd
visp
user-dirs.dirs
user-dirs.locale
vlc
VirtualBox
xfce4
nvim/plugin
cef_user_data
